* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-family: "Palanquin", sans-serif;
  --main-font: rgba(0, 0, 0, 0.9);
  --lighter-font: rgba(0, 0, 0, 0.8);
  --heading: rgba(0, 0, 0, 0.85);
  --contact-bg: linear-gradient(to right, rgba(0, 0, 0, 0.05), #fff);
  --shadow: rgba(0, 0, 0, 0.075);
  --body-bg: #fcfcfc;
  --box: #fff;
  --active-border: lightgray;
}

:root[data-theme="dark"] {
  --main-font: rgba(255, 255, 255, 0.9);
  --lighter-font: rgba(255, 255, 255, 0.75);
  --heading: rgba(255, 255, 255, 0.85);
  --contact-bg: linear-gradient(to right, rgba(0, 0, 0, 0.08), #1f2428);
  --shadow: rgba(0, 0, 0, 0);
  --body-bg: #1f2428;
  --box: rgba(255, 255, 255, 0.05);
  --active-border: rgba(255, 255, 255, 0.2);
}

html.transition,
html.transition *,
html.transition *:after {
  transition: background-color 600ms !important;
  transition-delay: 0 !important;
}

body {
  background: var(--body-bg);
}

.container {
  width: 100%;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 60px;
  overflow: hidden;
}

.nav {
  position: absolute;
  width: 100%;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 40px;
}

.nav__item {
  margin-left: 60px;
  position: relative;
}

.nav__item:nth-child(1):after,
.nav__item:nth-child(2):after {
  content: ">";
  color: var(--main-font);
  position: absolute;
  display: block;
  top: 3px;
  right: -42px;
  font-size: 32px;
  font-weight: 100;
}

.nav__item__link {
  text-decoration: none;
  color: var(--main-font);
  font-size: 32px;
  font-weight: 100;
}

.nav__item:nth-child(1) {
  border-bottom: 6px solid var(--active-border);
}

.nav__more {
  font-size: 32px;
  color: var(--main-font);
  font-weight: 400;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 4px solid lightgray;
  display: none;
}

.nav__more:after {
  content: ">";
  color: var(--main-font);
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: -26px;
  transform: rotate(90deg);
}

.nav__modes {
  width: 120px;
  height: 80px;
  position: relative;
  left: 100%;
  transform: translate(-100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__modes__icon {
  font-size: 18px;
  font-weight: 100;
}

.nav__modes__trigger {
  display: none;
}

.slider {
  display: block;
  width: 36px;
  height: 17px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.slider:before {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out, box-shadow 0.05s;
  transition-delay: 0.1s;
  left: -1px;
  top: -1px;
}

.slider:hover:before {
  box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.08);
}

input[name="trigger"]:checked + .slider {
  background: rgba(255, 255, 255, 0.15);
}

input[name="trigger"]:checked + .slider:before {
  transform: translateX(calc(36px - 100% + 2px));
}

input[name="trigger"]:focus + .slider:before {
  background: red;
  box-shadow: 0 0 15px red;
}

#trigger:focus + .slider {
  background: red;
}

.about-me {
  position: absolute;
  width: 85%;
  font-size: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  display: none;
}

.section {
  padding: 60px 0;
}

.section-title {
  font-size: 62px;
  color: var(--heading);
  line-height: 58px;
  margin-bottom: 60px;
}

.portfolio {
  background: transparent;
}

.portfolio__list {
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  position: relative;
}

.portfolio__box {
  width: 45%;
  background: var(--box);
  margin: 20px 0;
  padding: 15px;
  box-shadow: 0 4px 44px var(--shadow);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.portfolio__box:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 44px var(--shadow);
}

.portfolio__box__title {
  color: var(--main-font);
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  position: relative;
}

.portfolio-box__title__img {
  display: block;
  position: absolute;
  height: 80%;
  top: 15%;
  left: calc(100% + 4px);
}

.portfolio__box__description {
  color: var(--lighter-font);
}

.portfolio__box__links {
  margin-top: 10px;
}

.portfolio__box__link {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: lightslategray;
  border-radius: 2px;
  font-weight: 400;
  padding: 3px 0px 6px 0px;
  transition: transform 0.15s;
}

.slash {
  color: var(--main-font);
  padding: 0 3px;
}

.portfolio__box__link:hover {
  transform: translateY(-1px);
  text-decoration: underline;
}

.contact {
  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  background: var(--contact-bg);
  padding-top: 160px;
}

.contact__list {
  width: 50%;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 60px;
  text-align: center;
}

.contact__list__item {
  margin-top: 28px;
  background: var(--box);
  padding: 15px;
  box-shadow: 0 4px 44px rgba(0, 0, 0, 0.05);
}

.contact__list__item__link {
  font-size: 32px;
  font-weight: 300;
  color: var(--lighter-font);
  font-family: "IBM Plex Mono";
  text-decoration: none;
}

/*/////////////////////////// MEDIA QUERY /////////////////////////////// */

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }

  .nav {
    position: relative;
    height: 220px;
  }

  .nav__menu {
    display: none;
  }

  .nav__more {
    display: block;
    font-size: 21px;
  }

  .nav__more:after {
    font-size: 21px;
    top: -2px;
    right: -16px;
  }

  .slider:hover:before {
    box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.08);
  }

  .section {
    padding: 90px 0;
  }

  .section-title {
    font-size: 54px;
    line-height: 50px;
    margin-bottom: 70px;
  }

  .portfolio__list {
    display: block;
    position: relative;
  }

  .portfolio__box {
    margin-left: -20px;
    padding: 20px;
    width: calc(100% + -40px + 40px);
    margin-top: 40px;
  }

  .portfolio__box__title {
    font-size: 23px;
  }

  .portfolio__box__description {
    font-size: 19px;
  }

  .portfolio__box:hover {
    transform: scale(1);
  }

  .portfolio__box__links {
    margin-top: 14px;
  }

  .portfolio__box__link {
    font-size: 19px;
    padding: 5px 0px 8px 0px;
  }

  .contact {
    padding: 180px 0;
  }

  .contact__list {
    width: 100%;
    margin: 0 auto;
  }

  .contact__list__item__link {
    font-size: 21px;
  }
}
