* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background: #fcfcfc;
}

.container {
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.04), #fff);
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
  height: 180px;
  position: relative;
  padding-top: 40px;
  transition: 0.2s;
}

.header:hover {
  height: calc(100vh - 40px);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav__item {
  margin-left: 60px;
  position: relative;
  transition: 0.2s;
}

.nav__item:nth-child(1):after,
.nav__item:nth-child(2):after {
  content: ">";
  position: absolute;
  display: block;
  top: 3px;
  right: -42px;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 100;
}

.nav__item__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 32px;
  font-weight: 300;
}

.nav__item:nth-child(1) {
  border-bottom: 4px solid lightgray;
}

.nav__more {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 4px solid lightgray;
  display: none;
}

.nav__more:after {
  content: ">";
  color: rgba(0, 0, 0, 0.6);
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: -26px;
  transform: rotate(90deg);
}

.about-me {
  position: absolute;
  width: 85%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  display: none;
}

.section {
  padding: 60px 0;
}

.section-title {
  font-size: 62px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 60px;
  margin-bottom: 60px;
}

.portfolio {
  background: transparent;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  position: relative;
}

.portfolio__box {
  width: 44%;
  background: #fff;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.portfolio__box:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 44px rgba(0, 0, 0, 0.075);
}

.portfolio__box__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  position: relative;
}

.portfolio-box__title__img {
  display: block;
  position: absolute;
  top: 0;
  height: 108%;
  left: calc(100% + 4px);
}

.portfolio__box__description {
  color: rgba(0, 0, 0, 0.6);
}

.portfolio__box__links {
  margin-top: 10px;
}

.portfolio__box__link {
  display: inline-block;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, lightcoral, rgba(0, 0, 0, 0.2));
  border-radius: 2px;
  padding: 3px 6px 6px 6px;
  transition: transform 0.4s;
}

.portfolio__box__link:hover {
  transform: translateY(-1px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), lightcoral);
}

.contact {
  clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(white, rgba(0, 0, 0, 0.04) 13%);
  padding-top: 160px;
}

.contact__list {
  width: 50%;
  margin-left: 30%;
  list-style: none;
  margin-bottom: 60px;
}

.contact__list__item {
  margin-top: 28px;
}

.contact__list__item__title {
  line-height: 20px;
  display: block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.contact__list__item__link {
  font-size: 32px;
  line-height: 32px;
  font-family: "IBM Plex Mono";
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

/*/////////////////////////// MEDIA QUERY /////////////////////////////// */

@media (max-width: 900px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }

  .nav__menu {
    display: none;
  }

  .nav__more {
    display: block;
  }

  .section {
    padding: 90px 0;
  }

  .section-title {
    font-size: 54px;
    line-height: 52px;
    margin-bottom: 70px;
  }

  .portfolio__list {
    display: block;
    position: relative;
  }

  .portfolio__box {
    margin-left: -20px;
    padding: 20px;
    width: calc(100% + -40px + 40px);
    margin-top: 40px;
  }

  .portfolio__box__title {
    font-size: 21px;
  }

  .portfolio__box__description {
    font-size: 19px;
  }

  .portfolio__box:hover {
    transform: scale(1);
  }

  .portfolio__box__links {
    margin-top: 14px;
  }

  .portfolio__box__link {
    font-size: 18px;
    padding: 5px 8px 8px 8px;
  }

  .contact {
    padding: 180px 0;
  }

  .contact__list {
    width: 100%;
    margin: 0 auto;
  }

  .contact__list__item__title {
    font-size: 19px;
  }

  .contact__list__item__link {
    font-size: 24px;
  }
}
